* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEFAE7;
}

nav ul {
    display: flex;
    margin: 20px 50px;
    list-style-type: none;
}

nav ul li {
    padding: 0 20px;
}

.logo_name {
    margin-right: 200px;
    font-size: 1.4rem;
}

button {
    background-color: #FEFAE7;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
}

.login {
    position: absolute;
    top: 15px;
    right: 300px;
    padding: 6px 10px;
    margin-top: -4px;
    border-color: #F95700;
    margin-left: 215px;
}

.started {
    position: absolute;
    top: 15px;
    right: 150px;
    margin-top: -4px;
    padding: 8px 8px;
    border: none;
}

nav ul li:nth-child(5) {
    margin-right: 70px;
}

.started {
    background-color: #F95700;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-title {
    background-color: #F95700;
    border-radius: 4px;
    margin: 4px;
    padding: 1px 15px;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 19px;
}

.second-h4 {
    margin-left: 20px;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.t-title h2 span.highlighted {
    color: #F95700;
}

.t-title h2:nth-child(1) {
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 33px;
}

.t-title h2:nth-child(2) {
    margin-left: -10px;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-size: 33px;
}

.t-title h2:nth-child(3) {
    margin-left: -20px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 33px;
}

.underline {
    position: relative;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: solid 3px red;
    left: 0;
    bottom: -10px;
    border-radius: 50%;
    height: 8px;
}

.fourth {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.video-list {
    list-style: none;
}

.video-player {
    margin-left: 15px;
}

.video-player {
    border-radius: 10px;
    overflow: hidden;
}

.video-frame {
    display: block;
}

.video-player p {
    text-align: center;
    background-color: #F95700;
}

.video-list li {
    margin-bottom: 25px;
}

.fifth {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;

}

.fi-title p:nth-child(2) {
    margin-left: 20px;

}

.sixth {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.si-title {
    background-color: #F95700;
    margin: 5px;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 5px;
}

.icon {
    font-size: 60px;
}

.bottom {
    margin: 20px;
    display: flex;
    justify-content: center;
    word-spacing: 1px;
}

.bottom p {

    margin: 0 5px;
}

.fa-regular .fa-clipboard {
    background-color: #F95700;
}

#winningFormula {
    color: #F95700;
}

.third-first {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.third-first h1 {
    font-size: 40px;
    letter-spacing: 1px;
}

.third-second {
    display: flex;
    justify-content: center;
}

.box {
    width: 300px;
    height: 80px;
    border: 1px solid #F95700;
    background-color: #FEFAE7;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s rgb(255, 176, 30);
    display: flex;
    flex-direction: column;
}

.third-third {
    display: flex;
    justify-content: center;
}

.floating-box {
    margin-top: 60px;
}

.top2 {
    margin-left: 50%;
    left: 50%;
    width: 40px;
    height: 40px;

}

.top1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.face {
    width: 50px;
    height: 50px;
    display: inline-block;
    /* Set image as inline-block */
    margin-right: 10px;

    padding-right: 10px
}

.class1 {
    margin-left: 70px;
}
.class1 p{
    font-size: 19px;
}

.second-ul {
    list-style: none;
}

.second-ul li {
    margin: 10px;
    font-size: 19px;
    margin-bottom: 30px;
}
.second-third{
    margin: 20px;
}
.second-third-ul{
    margin-left: 19px;
    font-size: 19px;
}
.second-third-ul li::marker {
    content: '\2022';
    color: #F95700;
    font-size: 30px;
    
}
.second-fourth{
    margin: 20px;
}
.second-fourth p{
    font-size: 19px;
}

.class2{
    margin-top: 50px;
    margin-left: 55%;
    margin-bottom: 20px;
}
.class2 p{
    font-size: 19px;
    margin-bottom: 30px;
}
.arrow{
    display: flex;
    align-items: center;
}
.fa-arrow-right{
    font-size: 20px;
}